*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 12%;
}
.logo {
    font-size: 25px;
    font-weight: 600;
    color: black;
}
.navmenu{
    display: flex;

}
.navmenu li{
    position: relative;
}
.navmenu a{
    color: #212832;
    font-size: 20px;
    font-family: 500;
    text-transform: capitalize;
    transition: all .42s;
    padding: 15px 25px;
}
.navmenu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #212832;
    bottom: -2px;
    left: 0;
    transition: all .42s;
}
.navmenu a:hover::after{
    width: 100%;
}
.btn-icon{
    display: flex;
    align-items: center;

}
.nav-btn{
    font-size: 17px;
    font-weight: 500;
    color: #212832;
    border: 2px solid #212832;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all .42s;
}
.nav-btn:hover{
    background-color: #212832;
    color: #fff;

}
#menu-icon{
    font-size: 35px;
    color: #212832;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section {
    padding: 40px 12%;

}
.home{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.home-img img{
    width: 500px;
    max-width: 100%;
    height: auto;
} 
.home-text h4{
    color: #D46951;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
.home-text h1{
    color: #181E48;
    font-size: 60px;
    font-weight: 650;
    line-height: 60px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}
.home-text p{
    color: #666dd1;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.btn1{
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 20px;
    background: #F1A501;
    border-radius: 10px;
    margin-right: 40px;
    transition: all 0.42s;
}
.btn1:hover{
    transform: translateY(-5px);
}
.btn2{
    color: #435477;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}.btn2 span i{
    width: 42px;
    height: 42px;
    background: #D46951;
    color: #fff;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    margin-right: 15px;
    transition: all 0.42s;
}
.btn2 span i:hover{
    background: transparent;
    color: #212832;

}
header.sticky{
    background-color: #fff1da;
    padding: 22px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    transition: 0.43s;
}
.center-text{
    text-align: center;
}
.center-text h4{
    font-size: 18px;
    color: #5E6282;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
}
.center-text h2{
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 60px;
}
.cate-pro{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    text-align: center;
}
.row{
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -6px;
    transition: all 0.42s;
}
.row i{
    font-size: 50px;
    margin-bottom: 20px;
}
.row h5{
    font-size: 16px;
    color: #1E1D4C;
    font-weight: 600;
    margin-bottom: 15px;
}
.row p{
    color: #5E6282;
    font-size: 14px;
    font-weight: 500;
}
.row:hover{
    transform: translateY(-8px);
}
.main-dest{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    align-items: center;
    gap: 2rem;
}
.hov-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all .42s;
}
.Dest-text h5{
    font-size: 18px;
    color: #5E6282;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}
.Dest-text h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #14183e;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.box{
    position: relative;
}
.box .text-in{
    position: absolute;
    bottom: 25px;
    left: 20px;
}
.text-in h5{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.text-in p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.coun-text{
    position: absolute;
    top: 25px;
    left: 20px;
}
.box h6{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.hov-img{
    overflow: hidden;
}.hov-img:hover img{
    transform: scale(1.1);
    filter: brightness(50%) hue-rotate(45deg);
}
.info-text{
    text-align: center;
}
.info-text h4{
    font-size: 18px;
    color: #5E6282;
    font-weight: 600;
    line-height: 30px;
}
.info-text h2{
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 40px;
}
.book-pro{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    align-items: center;
    gap: 2rem;
}
.book-pro .tour a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all .42s;
}
.Booking  .link{
    width: 100%;    
    height: 40px;
    border-radius: 15px;
}
.Booking  .link a{
    display: block;
    background-color: #F1A501;
    color: black;
    font-size: 25px;
    font-weight: 650;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    transition: all 0.42s;
}
.Booking  .link a:hover{
    color: #fff;
}
section .cont{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-color: #D46951;
}
section h2{
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 25px;
}
section .cont iframe{
    width: 100%;
    height: 100%;
}
.test-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.left h4{
    color: #5E6282;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}
.left h3{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
}
.rights img{
    max-width: 100%;
    width: 70px;    
    height: 70px;
}
.rights h5{
    color: #5E6282;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 3px;
}
.rights h6{
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.rights p{
    color: #5E6282;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    align-items: center;
}
.info-1 h4{
    font-size: 20px;
    color: #080809;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.info-1 p{
    color: #5E6282;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 6px;
}
.contact .info-1 a{
    display: inline-flex;
    color: #000;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 6px 20px rgb(0 0 0 / 10%);
    margin-right: 15px;
    margin-bottom: 20px;
    transition: all 0.42;
}
.contact .info-1 a:hover{
    transform: scale(1.1);
}
.contact .info-1 .insta{
    background: linear-gradient(#ef32d9, #89fffd);
    color: #fff;
}
.contact .info-1 .face{
    color: #fff;
    background: blue;
}
.contact .info-1 .whats{
    color: #fff;
    background: green;
}
.contact .info-1 .twitter{
    color: blue;
}
#btn {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
#btn i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #F1A501;
    font-size: 40px;
}

@media(max-width:1265px){
    header{
        padding: 25px 4%;
        transition: .3s;
    }
    section{
        padding: 60px 4%;
        transition: .3s;
    }
}
@media(max-width: 1050px){
    .home{
        grid-template-columns: 1fr;
        height: 100%;
        transition: .3s;
    }
    .home-text{
        padding-top: 100px;
        text-align: center;
        transition: .3s;
    }
    .home-img img{
        padding: 50px;
        transition: .3s;
    }
}
@media(max-width:1180px){
    .home-text h1{
        font-size: 50px;
        transition: .3s;
    }
    .home-text h4{
        font-size: 18px;
        transition: .3s;
    }
    .home-text p{
        font-size: 15px;
        transition: .3s;
    }
}
@media(max-width:415px){
    .home-text h1{
        font-size: 40px;
        line-height: 30px;
        transition: .3s;
    }
    .home-text p{
        font-size: 12px;
        transition: .3s;
    }
}
@media(max-width:1000px){
    .test-text{
        grid-template-columns: 1fr;
        height: 100%;
        text-align: center;
        transition: .3s;
    }  
}
@media(max-width:970px){
    #menu-icon{
        display: block;
    }
    .navmenu{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #fff1DA;
        text-align: left;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        padding: 16px;
        margin: 8px;
        border-left: 2px solid #202832;
    }
    .navmenu.open{
        top: 100%;

    }
}
